{% if app.user %}
    <div 
        class="nav-item" 
        style="
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 4rem;
        "
    >
        <a class="nav-link" href="{{ path('app_index') }}">Accueil</a>
        <a class="nav-link" href="{{ path('app_index') }}">Produits</a>
        <a class="nav-link" href="{{ path('app_index') }}">Mon profil</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}">Admin</a>
        {% endif %}
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
{% endif %}